.cache/
.husky/
.editorconfig
.eslintignore
.gitignore
.prettierignore
CODEOWNERS
LICENSE
core
dist/
node_modules
api-specifications/properties.json
pnpm-lock.yaml
commit-msg
*.html
*.png
*.qext
*.qvf
*.sh
coverage
test/cc-bin
